body{
    margin:0;
    padding:0;
   
}

.rec.rec-arrow {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.rec.rec-arrow:hover {
    background-color: transparent;
}
